{% extends '_layout.njk' %}

  {% block title %}Dependency Dashboard{% endblock %}

{% block content %}
  <h1>Dependency Dashboard for <strong>{{ repo }}</strong></h1>

  {% if runtime.length == 0 and dev.length == 0 %}
    <p>No dependencies need updating for {{ repo }}.</p>
  {% endif %}

<h2 class="text-xl font-bold mt-4 mb-2">Node.js Version Overview</h2>

<table class="table-auto border-collapse border w-full mb-6">
  <thead>
    <tr>
      <th class="border px-4 py-2">Repo</th>
      <th class="border px-4 py-2">Current Version</th>
      <th class="border px-4 py-2">Latest LTS</th>
      <th class="border px-4 py-2">Severity</th>
    </tr>
  </thead>
  <tbody>
    {% for item in nodeResults %}
    {% if item.repo == repo %}
    <tr class="
    {% if item.node.severity == 'high' %}urgent
    {% elif item.node.severity == 'medium' %}warning
    {% endif %}">
      <td class="border px-4 py-2 font-mono">{{ item.repo }}</td>
      <td class="border px-4 py-2 font-mono">{{ item.node.version }}</td>
      <td class="border px-4 py-2 font-mono">{{ item.node.latestLts }}</td>
      <td class="border px-4 py-2">
        <span class="severity severity-{{ item.node.severity }}">{{ item.node.severity }}</span>
      </td>
    </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>


{% if runtime.length %}
 <h2>Runtime dependencies</h2>
<table>
  <thead>
    <tr>
      <th>Dependency</th>
      <th>Current Version</th>
      <th>Latest Version</th>
      <th>Severity</th>
    </tr>
  </thead>
  <tbody>
    {% for dep in runtime %}
    <tr class="
        {% if dep.severity == 'high' %}urgent
        {% elif dep.severity == 'medium' %}warning
        {% else %}ok
        {% endif %}">
      <td>{{ dep.name }}</td>
      <td>{{ dep.current }}</td>
      <td>{{ dep.latest }}</td>
      <td>{{ dep.severity }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No runtime updates</p>
{% endif %}

<h2>Dev dependencies</h2>
{% if dev.length %}
<table>
  <thead>
    <tr>
      <th>Dependency</th>
      <th>Current Version</th>
      <th>Latest Version</th>
    </tr>
  </thead>
  <tbody>
    {% for dep in dev %}
    <tr>
      <td>{{ dep.name }}</td>
      <td>{{ dep.current }}</td>
      <td>{{ dep.latest }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No dev dependency updates</p>
{% endif %}

{% endblock %}

